@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Nunito:400,600&display=swap');

body {
    background-color: #F2F2ED;
    color: #282828;
    /*    make sure you set family and size on body*/
    /*    font family has order, 1st and then fall backs*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 980px;
    /*    TOP RIGHT BOTTOM LEFT*/
    margin: 30px auto 30px auto;
}

/*////////////////////////PHOTO SLIDES/PHOTO INFO//////////////////////////////////*/

.mainlogo {
    width: 130px;
    margin-left: 30px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    
    10% {
        left: 0; 
    }
    
    15% {
        left: -100%;
    }
    
    25% {
        left: -100%;
    }
    
    30% {
        left: -200%;
    }
    
    40% {
        left: -200%;
    }
    
    45% {
        
        left: -300%;
    }
    
    55% {
        
        left: -300%;
    }
    
    60% {
        left: -400%
    }
    
    70% {
        left: -400%;
    }
    
    75% {
        
        left: -500%;
    }
    
    85% {
        
        left: -500%;
    }
    
    90% {
        
        left: -600%;
    }

    100% {
        left: -600%
    }

}

#slider {
    overflow: hidden;
    border-radius: 20px;
}

#slider figure img {
    width: 14.2854%;
    float: left;
    border-radius: 20px;
    }

#slider figure {
    position: relative;
    width: 700%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
   }

.img-info {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 18px;

}

.img-info-2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;

}

/*//////////////////////////////////PARALLAX/////////////////////////////////////////*/

.container-parallax {
    max-width: 980px;
    margin: 0;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;

}

.parallax2 {
    background: url(../images/jj-banner-2.jpg) no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 300px;
    border-radius: 20px;
    
}

.img-support-text {
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}
/*///////////////////////MAIN CONTAINERS///////////////////////////////*/

header {
    margin-bottom: 20px;
}

Main {
    background-color: #EAEAE2;
    overflow: auto;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    }

footer {
    background-color: #EAEAE2;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    }

/*///////////////////////////HEADINGS///////////////////////////////////*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

/*robin boyd heading*/
h1 {
    color: #89751c;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px solid #89751c;
   }

/*gallery*/
h2 {
    color: #89751c;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    }

/*/////////////////////////////////////PARAGRAPH///////////////////////////////////*/

main p {
    color: 282828;
    font-size: 14px;
    text-align: justify;
    line-height: 26px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    }

/*/////////////////////////////////////NAVIGATION ITEMS////////////////////////////*/

nav {
    background-color: #EAEAE2;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

nav ul li {
    display: inline;
    margin-right: 10px;

}

nav ul li a {
    color: #282828;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 1px 10px;
    margin: 1px 6px;
  }

nav ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #89751c;
  }

nav ul li a.currentpage {
    text-decoration: none;
    border-bottom: 1px solid #89751c;
    font-weight: bold;
}

nav ul li a:visited {
    color: 282828;
}

/*///////////////////////ANCHOR STYLE///////////////////////////////*/

/*color of defult link - untouched*/
a {
    color: #89751c;
    text-decoration: none;
}

/*hovered over the link*/
a:hover {
    font-weight: bold;
}

/*holding the link down*/
a:active {
    color: black;
}

