@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Nunito:400,600&display=swap');

body {
    background-color: #F2F2ED;
    color: #282828;
    /*    make sure you set family and size on body*/
    /*    font family has order, 1st and then fall backs*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 980px;
    /*    TOP RIGHT BOTTOM LEFT*/
    margin: 30px auto 30px auto;
}


/*/////////////////////////////////MEDIA QUERIES/////////////////////////////////////*/

/*Gave it a red hot crack but could not get this workng. Tried visiting multiple website and watched multiple videos but could not get it working. Leaving it hidden with comments above so you could see my thought process and see where I went wrong. Thanks!*/


@media screen and (max-device-width: 979px){
    
/*    width property is set to a percentage and the height is set to "auto", the image will be responsive and scale up and down.*/
    img {
        width: 100%;
        height: auto;
    }
    
/*    Everything within the wrapper class 'boxes' are scaled down accordingly. */
    .wrapper {
        width: 90%;
    }
    
/*    Different to img so was selected in its own class with the same concept*/
    .container-parallax {
        width: 100%;
        height: auto;
    }
   
/*    as this was not located within any anything edited by itself*/
    .img-support-text {
        font-size: 10px;
         }
    
/*    not scaling for whatever reason*/
    .banner-support-text {
        font-size: 8px;
        
    }
    
    
/*    Text located within these would be scaled down (changed to em and edited with px here) */
    
    header {
        font-size: 12px;
        }
    
    main {
        font-size: 12px;
            }
    
    footer {
        font-size: 11px;
           }
        
}

@media screen and (max-device-width: 600px){
    
    img {
        width: 100%;
        height: auto;
    }
    
    .wrapper {
        width: 90%;
    }
    
    .container-parallax {
        width: 90%;
        height: auto;
    }
   
    .img-support-text {
        font-size: 6px;
         }
    
    .banner-support-text {
        font-size: 10px;
        
    }
    
    header {
        font-size: 14px;
        }
    
    main {
        font-size: 12px;
            }
    
    footer {
        font-size: 11px;
           }
    
}

@media screen and (max-device-width: 375px){
    
    img {
        width: 100%;
        height: auto;
    }
    
    .wrapper {
        width: 90%;
    }
    
    .container-parallax {
        width: 90%;
        height: auto;
    }
   
    .img-support-text {
        font-size: 6px;
         }
    
    header {
        font-size: 25px;
        }
    
    main {
        font-size: 12px;
            }
    
    footer {
        font-size: 11px;
           }
    
}




/*////////////////////////PHOTO SLIDES/PHOTO INFO//////////////////////////////////*/

.mainlogo {
    width: 130px;
    margin-left: 30px;
}

@keyframes slider {
    0% {
        left: 0;
    }
    
    10% {
        left: 0; 
    }
    
    15% {
        left: -100%;
    }
    
    25% {
        left: -100%;
    }
    
    30% {
        left: -200%;
    }
    
    40% {
        left: -200%;
    }
    
    45% {
        
        left: -300%;
    }
    
    55% {
        
        left: -300%;
    }
    
    60% {
        left: -400%
    }
    
    70% {
        left: -400%;
    }
    
    75% {
        
        left: -500%;
    }
    
    85% {
        
        left: -500%;
    }
    
    90% {
        
        left: -600%;
    }

    100% {
        left: -600%
    }

}

#slider {
    overflow: hidden;
    border-radius: 20px;
}

#slider figure img {
    width: 14.2854%;
    float: left;
    border-radius: 20px;
    }

#slider figure {
    position: relative;
    width: 700%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
   }

.img-info {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1.125em;

}

.img-info-2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.125em;

}

/*//////////////////////////////////PARALLAX/////////////////////////////////////////*/

.container-parallax {
    max-width: 980px;
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 25px;
    margin-top: 25px;

}

.parallax2 {
    background: url(../images/jj-banner-2.jpg) no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 300px;
    border-radius: 20px;
    
}

.img-support-text {
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}
/*///////////////////////MAIN CONTAINERS///////////////////////////////*/

header {
    margin-bottom: 20px;
}

Main {
    background-color: #EAEAE2;
    overflow: auto;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    }

footer {
    background-color: #EAEAE2;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    }

/*///////////////////////////HEADINGS///////////////////////////////////*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

/*robin boyd heading*/
h1 {
    color: #89751c;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px solid #89751c;
   }

/*gallery*/
h2 {
    color: #89751c;
    font-size: 1.5625em;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    }

/*/////////////////////////////////////PARAGRAPH///////////////////////////////////*/

main p {
    color: 282828;
    font-size: 0.875em;
    text-align: justify;
    line-height: 26px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    }

/*/////////////////////////////////////NAVIGATION ITEMS////////////////////////////*/

nav {
    background-color: #EAEAE2;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

nav ul li {
    display: inline;
    margin-right: 10px;

}

nav ul li a {
    color: #282828;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 1px 10px;
    margin: 1px 6px;
  }

nav ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #89751c;
  }

nav ul li a.currentpage {
    text-decoration: none;
    border-bottom: 1px solid #89751c;
    font-weight: bold;
}

nav ul li a:visited {
    color: 282828;
}

/*///////////////////////ANCHOR STYLE///////////////////////////////*/

/*color of defult link - untouched*/
a {
    color: #89751c;
    text-decoration: none;
}

/*hovered over the link*/
a:hover {
    font-weight: bold;
}

/*holding the link down*/
a:active {
    color: black;
}

