@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Nunito:400,600&display=swap');

body {
    background-color: #F2F2ED;
    color: #282828;
    /*    make sure you set family and size on body*/
    /*    font family has order, 1st and then fall backs*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 980px;
    /*    TOP RIGHT BOTTOM LEFT*/
    margin: 30px auto 30px auto;
}

/*////////////////////////IMAGES/IMG-INFO////////////////////////////////*/

.mainlogo {
    width: 130px;
    margin-left: 30px;
}

.left {
    width: 40%;
    float: left;
    margin-left: 60px;
    border-radius: 20px;
    margin-top: 20px;
}

.right {
    width: 40%;
    float: right;
    margin-right: 60px;
    border-radius: 20px;
    margin-top: 20px;
}

.external-features {
    width: 580px;
    margin-left: 170px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.img-text {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 13px;
}

.cross-section-north {
    width: 800px;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 20px;
}
.cross-section-west {
    width: 800px;
    margin-left: 70px;
    border-radius: 20px;
}

.sbsinfo {
    text-align: center;
    margin-top: 440px;
    margin-bottom: 30px;
    font-size: 13px;
}

.banner-support-text {
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}

/*//////////////////////////////PARALAX EDIT/////////////////////////////////////*/
.container-parallax {
    max-width: 980px;
    margin: 0;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;

}

.parallax {
    background: url(../images/jj-slide-14.jpg) no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 100px;
    border-radius: 20px;

}

.parallax2 {
    background: url(../images/jj-slide-14.jpg) no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 300px;
    border-radius: 20px;

}

/*////////////////////////////////////////////////////////////////////////////////*/

/*main containers*/

header {
    margin-bottom: 20px;
}

Main {
    background-color: #EAEAE2;
    overflow: auto;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;

}

footer {
    background-color: #EAEAE2;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
}

/*////////////////////////////////////////////////////////////////////////////////*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

/*robin boyd heading*/
h1 {
    color: #89751c;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px solid #89751c;
}

/*history-and-significance*/
h2 {
    color: #89751c;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    color: #89751c;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;

}

/*/////////////////////////////////PARAGRAPH//////////////////////////////////////*/

main p {
    color: 282828;
    font-size: 14px;
    text-align: justify;
    line-height: 26px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

pre {
    font-size: 14px;
    margin-bottom: 10px;
}

/*//////////////////////////////////////NAVIGATION ITEMS////////////////////////*/

nav {
    background-color: #EAEAE2;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #282828;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding: 1px 10px;
    margin: 1px 6px;
}

nav ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #89751c;
}

nav ul li a.currentpage {
    text-decoration: none;
    border-bottom: 1px solid #89751c;
    font-weight: bold;
}

nav ul li a:visited {
    color: 282828;
}

/*//////////////////ANCHOR STYLES//////////////////////////////*/

/*color of defult link - untouched*/
a {
    color: #89751c;
    text-decoration: none;
    /*    background-color: black;*/
}

/*hovered over the link*/
a:hover {
    font-weight: bold;
    /*    text-decoration: underline;*/
}

/*link appearance after being visited*/
a:visited {
    /*    color: darkgrey;*/
}

/*holding the link down*/
a:active {
    color: black;
}
