@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Nunito:400,600&display=swap');

body {
    background-color: #99cc00;
    color: #ffffff;

    /*    make sure you set family and size on body*/
    /*    font family has order, 1st and then fall backs*/

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;


    /* typography*/

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 80px;

}

h1 {
    /*    width: 200px;*/
    /*    margin-left: 365px;*/
    background-color: pink;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    letter-spacing: 5px;
    /*    display: inline-block;*/
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 1px;
    color: #000000;
    background-color: aqua;
    /*    font-weight: bold;*/

}

h3 {
    font-size: 18px;

}

main p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /*typography end*/

}

/*main containers*/

.wrapper {
    width: 980px;
    /*    TOP RIGHT BOTTOM LEFT*/
    margin: 30px auto 0px auto;

}

header {
    background-color: firebrick;
    /*    height: 180px;*/
    /*    width: 800px;*/
    /*    margin-left: 100px;*/
    margin-bottom: 20px;
    padding: 20px;
}

/*navigation items*/

nav {
    background-color: dodgerblue;
    /*    border: 2px dashed white;*/
    /*    width: 600px;*/
    /*    margin-left: 365px;*/
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    /*    float: left; */
}

nav ul li {
    display: inline;
    margin-right: 10px;

}

nav ul li a {
    color: black;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 10px 15px;
    letter-spacing: 0.5px;
}

nav ul li a:hover {
    background-color: aqua;
}

/*navigation end*/

Main {
    background-color: darkolivegreen;
    /*    width: 800px;*/
    /*    margin-left: 100px;*/
    text-align: left;
    padding: 20px
}

img {
    width: 500px;
    margin-left: 150px;
    /*    margin: 150px;*/

}

footer {
    background-color: darkcyan;
}
